.container {
  display: grid;
  grid-template-rows: auto 1fr 4rem;
  height: 100%;
}

.main {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-rows: 3rem minmax(10rem, 1fr);
  align-items: center;
}
